dist
build
*.egg-info
.coverage
.eggs
.tox
__pycache__
coverage.xml
# remainings of tox tests
/colvar*
/bck*
/plinp*
/testmarkdown*
/mermaid*
# virtual environments
/venv*
/env*
*.zip
*.stderr.*
/test*
